<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a57a9b">  <td>17/11/06 13:34:18</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_insertStudent.init()[pri:0, instance:testDatabase.TC002_insertStudent@4b9e13df]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@258754732</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>17/11/06 13:34:19</td>   <td>389</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_insertStudent.getZipcodes()[pri:0, instance:testDatabase.TC002_insertStudent@4b9e13df]">getZipcodes</td> 
  <td>main@258754732</td>   <td></td> </tr>
</table>
